.Canvas {
  
  width: 100%;
}

.canvas {
  background-color: rgb(240, 245, 250);
  margin: 1rem;
}

.pc-canvas {
  height: 66vh;
  width: 46vw;
  margin: auto;
  margin-top: 2rem;
  margin-left: 1rem;
}

.mobile-canvas {
  width: 80vw;
  height: 46vh;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.tablet-canvas {
  width: 90vw;
  height: 60vh;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
}