.Canvas {
  
  width: 100%;
}

.canvas {
  background-color: rgb(240, 245, 250);
  margin: 1rem;
}

.pc-canvas {
  height: 95vh;
  width: 66%;
  height: 95%;
}

.mobile-canvas {
  width: 95%;
  height: 66vh;
  margin: 2rem auto;
}

.tablet-canvas {
  width: 95%;
  height: 66vh;
  margin: 2rem auto;
}